.card{
    margin-top: 10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1)0%, hsla(260, 29%, 36%, 1)100%);
}

.card h1,
h6 {
    color: aliceblue;
}

label {
    color: aliceblue;
}